﻿<!DOCTYPE html>
@{
    var html_attributes = ViewBag.HTMLAttributes ?? "";
    var html_class =  ViewBag.HTMLClass ?? "";

    var body_attributes = ViewBag.BodyAttributes ?? "";
    var body_class = ViewBag.BodyClass ?? "";
}
<html lang="en" @html_attributes class="@html_class">

<head>
    @await Html.PartialAsync("~/Views/Shared/Partials/_TitleMeta.cshtml")

    @RenderSection("styles", false)

    @await Html.PartialAsync("~/Views/Shared/Partials/_HeadCss.cshtml")
</head>

<body @body_attributes class="@body_class">

@RenderBody()

@RenderSection("scripts", required: false)

</body>
</html>